body {
  background-image: url("https://i.pinimg.com/1200x/93/d5/e1/93d5e17b21b888c64ee20caa7d5b78a6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.yourDesiredId {
  border: 2px solid;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 5px;
}

.div1 {
  display: flex;
  flex-direction: column;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: pink !important;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}

p {
  text-shadow: 0.5px 0.5px #777;
  font-weight: 500;
  font-family: cursive;
}

.div2 {
  margin-top: 4px;
  width: 260px;
  color: #ede7e3;
}

.card-image {
  width: 80px;
  height: 80px;
}

.card-description {
  color: wheat;
}

.search-bar {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 10px;
}